<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Merkandi Circuit Breaker App</display-name>
    <servlet>
        <servlet-name>REST Endpoints</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>br.com.merkandi.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>REST Endpoints</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>A_LOG_PATH</param-name>
        <param-value>/logs/aservice.log</param-value>
    </context-param>
    <context-param>
        <param-name>B_LOG_PATH</param-name>
        <param-value>/logs/bservice.log</param-value>
    </context-param>
    <context-param>
        <param-name>B_API_PATH</param-name>
        <param-value>http://localhost:8030/circuitbreaker/rest/b</param-value>
    </context-param>
</web-app>